{% extends "base.html" %}

{% block content %}
<h1>Вся недвижимость</h1>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить</a>
{% endif %}
{% for item in news%}
{% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        Адрес - {{item.address}}
        Общая площадь - {{item.plos}}
        Кол-во комнат - {{item.num_kom}}
        Этаж - {{item.etag}}
        Этажей в доме - {{item.etag_home}}
        Жилая площадь - {{item.living}}
        Площадь кухни {{item.kitchen}}
        Ремонт - {{item.remont}}
        Тип дома - {{item.type_home}}
        Пассажирских лифтов {{item.pass_lifts}}
        Грузовых лифтов {{item.gruz_lifts}}
        {% if item.name %}
        Имя - {{item.name}}
        {% endif %}
        Год постройки - {{item.year}}
        Высота потолков - {{item.height}}
        Пандус - {{item.pandus}}
        Парковка - {{item.parking}}
        Описание: {{item.content}}
    </div>
</div>
    <div>
        Владелец - {{item.user.name}}, Дата размещения - {{item.created_date}}, Номер телефона - {{item.user.about}}
    </div>
</div>
{% endfor %}
{% endblock %}